<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your WishList</title>
    <link rel="stylesheet" th:href="@{/mainstyle.css}">
</head>
<body>

<main>
    <h1 th:text="'Welcome ' + ${firstName} +' ' + ${lastName} + ' to your personal Wishlist'"></h1>

    <a href="@{}">Update your info</a>
    <a href="@{}">Delete your account</a>

    <br>
    <a th:href="@{'/wishlist/createwish/' + ${userId}}">Add wish</a>
    <br>

    <table>
        <tr th:if="${wishlist.isEmpty()}">
            <td colspan="3">No wishes made... Add a wish!</td>
        </tr>
        <tr th:unless="${wishlist.isEmpty()}" th:each="wl : ${wishlist}">
            <td th:text="${wl.getTitle()}"></td>
            <td th:text="${wl.getDescription()}"></td>
            <td>
                <a th:href="${wl.getUrl()}">Visit website</a>
                <a th:href="@{'/wishlist/updatewish/'+ ${wl.getWishId()}}">Update wish</a>
                <a th:href="@{'/wishlist/deletewish/'+ ${wl.getUserId()} + '/' + ${wl.getWishId()} }">Delete wish</a>
            </td>
        </tr>
    </table>
</main>

<footer>
    <p>Wishlist © Your Company
</footer>

</body>
</html>
